{% extends 'layouts/base.twig' %}

{% set title = 'Send Password Reset Mail' %}
{% set id = 'forgot-password' %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-3">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <div class="has-text-centered">
                        <h1 class="title">{{ app.name }}</h1>
                        <h2 class="subtitle">{{ title }}</h2>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <form action="{{ '/account/forgot-password'|link }}" method="post">
                        <input name="{{ csrf.name.key }}" type="hidden" value="{{ csrf.name.value }}" />
                        <input name="{{ csrf.token.key }}" type="hidden" value="{{ csrf.token.value }}" />
                        <div class="field">
                            <label class="label">Enter your email</label>
                            <div class="control">
                                <input class="input" name="email" type="email" placeholder="Email" maxlength="191" autofocus required />
                            </div>
                        </div>
                        <div class="field">
                            <div class="has-text-right">
                                <button class="button is-primary">
                                    <span class="icon">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span>Send Mail</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
