{% extends 'layouts/base.twig' %}

{% set title = 'Create a New Account' %}
{% set id = 'register' %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-3">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <div class="has-text-centered">
                        <h1 class="title">{{ app.name }}</h1>
                        <h2 class="subtitle">{{ title }}</h2>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <form action="{{ '/account/register'|link }}" method="post">
                        <input name="{{ csrf.name.key }}" type="hidden" value="{{ csrf.name.value }}" />
                        <input name="{{ csrf.token.key }}" type="hidden" value="{{ csrf.token.value }}" />
                        <div class="field">
                            <label class="label">Enter your username</label>
                            <div class="control">
                                <input class="input" name="username" type="text" placeholder="Username" maxlength="16" autofocus required />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Enter your email</label>
                            <div class="control">
                                <input class="input" name="email" type="email" placeholder="Email" maxlength="191" required />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Enter your password</label>
                            <div class="control">
                                <input class="input" name="password" type="password" placeholder="Password" minlength="6" maxlength="32" required />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Confirm your password</label>
                            <div class="control">
                                <input class="input" name="password-confirm" type="password" placeholder="Confirm Password" minlength="6" maxlength="32" required />
                            </div>
                        </div>
                        <div class="field">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <div class="has-text-left">
                                        <a class="has-text-dark" href="{{ '/account/forgot-password'|link }}">Forgot Password</a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="has-text-right">
                                        <button class="button is-primary">
                                            <span class="icon">
                                                <i class="fas fa-user-plus"></i>
                                            </span>
                                            <span>Register</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
