{% extends 'layouts/base.twig' %}

{% set title = 'A Rapid, Slim Web' %}
{% set id = 'home' %}

{% block content %}
<div class="has-text-centered">
    <h1 class="title">{{ app.name }}</h1>
    <h2 class="subtitle">Rapid, Slim Web</h2>
    {% if auth.public.check %}
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <a class="button is-primary" href="{{ 'account'|link }}">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>Account</span>
                </a>
            </div>
            <div class="control">
                <a class="button is-danger" href="{{ 'account/logout'|link }}">
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    {% else %}
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <a class="button is-primary" href="{{ 'account/login'|link }}">
                    <span class="icon">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span>Login</span>
                </a>
            </div>
            <div class="control">
                <a class="button is-danger" href="{{ 'account/register'|link }}">
                    <span class="icon">
                        <i class="fas fa-user-plus"></i>
                    </span>
                    <span>Register</span>
                </a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
