<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{ app.description }}" />
		<meta name="keywords" content="{{ app.keywords }}" />
		<meta name="author" content="{{ app.author }}" />
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet" />
        <link href="{{ 'css/bulma.min.css'|asset }}" rel="stylesheet" />
        <link href="{{ 'css/bulma-helpers.min.css'|asset }}" rel="stylesheet" />
        <link href="{{ 'css/base.css'|asset }}" rel="stylesheet" />
        <link href="{{ 'images/favicon.png'|asset }}" rel="icon" type="image/png" />
        <title>{{ app.name }} - Rapid, Slim Web</title>
    </head>
    <body>
        <div class="hero is-fullheight">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container is-fluid">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="{{ ''|link }}">
                                <h1 class="title">{{ app.name }}</h1>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container is-fluid">
                    <div class="has-text-centered">
                        <h1 class="title">{{ app.name }}</h1>
                        <h2 class="subtitle">Rapid, Slim Web</h2>
                    </div>
                </div>
            </div>
            <div class="hero-foot">
                <div class="container is-fluid">
                    <div class="has-text-centered">
                        <p class="has-padding-bottom-5">
                            Copyright &copy; {{ 'now'|date('Y') }} {{ app.name }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
